html, body{
    width: 100%;
    height: 100%;
}

#navbar{
    min-height: 6%;
    max-height: 6%;
}
#container{
    position: absolute;
    background-color: #cad2d3;
    
    background-position: top;
    height: 94.5vh;
    min-height: 25rem;
    width: 100%;
    overflow: auto;
    bottom: 0;
}

#left {
    width: 100%;
    height: 50%;
    float: left;
    position: relative;
}

#center {
    width: 100%;
    float: left;
    position: relative;
    padding-bottom:20px;
}

#right {
    padding: 20px;
    padding-right:30px;
    width: 100%;
    height: 50%;
    float:left;
}

#map {
   
    border-radius: 5px;
    display: block;
    
    width: 100%;
    height: 100%;
    position:relative;
    margin-left: 7px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#buttons{
    margin-top: 17px;
    text-align: center;
    height: 11vh;
}
#buttons>button{
    position: relative;
    height: 39%;
    top: 3px;
    line-height: 20px;
    width: 30%;
    margin: 3px;
    font-size: 2vh;
    overflow: hidden;
}

#searchBar{
    position: relative;
}
#search{
    background-color: transparent;
    border-color: transparent;
    transform: translateX(-100%);
}

#days{
    position: absolute;
    height: 92%;
    width: 100%;
    overflow: auto;
    bottom:0;
}

.day{
    position: relative;
    height: 50%;
    border-radius:10px;
    margin: 7px;
    


}
.date{
    position: relative;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    padding:1px;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 100%;
    font-weight: 700;
    width: 100%;
    background: rgb(150, 150, 150);
    letter-spacing: 1.5px;
    z-index: 999;
}
.forecast{
    position: absolute;
    height: 100%;
    aspect-ratio: 1/1;
    transform: translate(210%,-100%);
}
.forecast>img{
    height: 175%;
    transform: translateY(-18%);
}

.forecastPopup{
    visibility: hidden;
    position: absolute;
    background-color: rgb(201, 201, 201);
    opacity: 0.9;
    width: 150px;
    padding: 4px;
    border-radius: 10px;
    z-index: 1000;
}

.not_forecast{
    position: absolute;
    height: 100%;
    aspect-ratio: 1/1;
    transform: translate(210%,-100%);
}
.not_forecast>img{
    height: 100%;
    transform: translateX(180%);
}

.not_forecastPopup{
    visibility: hidden;
    position: absolute;
    background-color: rgb(201, 201, 201);
    opacity: 0.9;
    width: 255px;
    padding: 4px;
    border-radius: 10px;
    z-index: 1000;
    transform: translateX(21%);
}

#commands{
    height: 8%;
    position: absolute;
    text-align: center;
    margin: 2px;
}

/*#send{
    height:3.6vh;
    aspect-ratio: 1/1;
    position: absolute;
    background-image: url(./icons/save.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    margin-left:7px;
    margin-top:1px
}
*/

#add{
    position: relative;
    float:right;
}

.input_style_sm{
    font-size: 1em;
    background: rgb(250, 250, 250);
    border: 0px;
    padding: 4px 12px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    color: #111;
    letter-spacing: 1px;
    transition: 0.2s;
    text-align: center;
    border-radius: 5px;
}

.info{
    border-radius:10px;
    margin: 3px;
    padding: 8px;
    background-color: #f6f6f4;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    color:#6b6b6b;
    overflow: auto;
}
.info>img{
    max-height: 40%;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.poi{
    position: relative;
    box-sizing: border-box;
    border-radius:5px;
    margin:2px;
    height: 14%;
    line-height: 29px;
    font-weight: 500;
    border-left-width: 6px;
    border-left-style: solid;
    padding-left: 5px;
    background: rgb(250, 250, 250);
}
.poi>button{
    aspect-ratio: 1/1;
    height: 95%;
    float: right;
    margin-right: 2px;
}
.poi>button>i{
    position: absolute;
    transform: translate(-50%, 100%);
    font-size: 120%;
}
.name{
    position: absolute;
    height: 0px;
    width: 80%;
    top:-1px;
    overflow:clip;
    overflow-clip-margin: 30px;
    text-overflow: ellipsis;

}

.tag_color_architecture{
    color:#0d6efd
  }
  
.tag_color_museums{
  color:#d63384;
}

.tag_color_foods{
  color:#33d6c9;
}

.tag_color_accomodations{
  color:#fd7e14;
}

.tag_color_natural{
  color:#20c953;
}

.tag_color_religion{
  color:#6610f2;
}


.tag_color_inactive{
  color: #adb5bd;
}
.toSend{
    border:solid 1px;
    border-radius:5px;
}


.show{
    width: 1%;
    aspect-ratio: 1/1;
    border-radius: 15px;
    float: right;
    background-color: rgb(150, 150, 150);
    opacity: 0.8;
    overflow: hidden;
}
.show>i{
    position:absolute;
    transform: translate(-49%, -50%);
    font-size: 100%;
}

.removeDay{
    width: 1%;
    aspect-ratio: 1/1;
    border-radius: 15px;
    float: right;
    background-color: rgb(150, 150, 150);
    opacity: 0.8;
    overflow: hidden;
}
.removeDay>i{
    position:absolute;
    transform: translate(0, -50%);
    font-size: 100%;
    right: 8%
}

.w-icon{
    max-width: 30px;
    min-width: 30px;
}
.w-icon2{
    max-width: 40px;
    min-width: 40px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: none; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@media only screen and (min-width:1600px){
    #left, #center, #right{
        width: 33.33%;
        height: 100%;
        float: right;
    }
    .day{ height: 25%;}
    #commands{ height: 4%;}
    #days{ height: 96%;}
    #container{
        height: 94%;
        overflow: hidden;
    }
    .info{ height:78vh;}
    #add{
        position: absolute;
        bottom: 32px;
        right:14px;
    }
    .poi>button{
        height: 90%;
        background-size: 85%;
    }
    #center{
        background-image: url(./icons/vecteezy_grid-globe-map_1198029.png);
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
    }

}

@media only screen and (min-width:800px) and (max-width:1599px) {
    #left, #center {
        width: 50%;
        height: 50%;
        float: left;
    }
    #right{
        width: 100%;
        height: 50%;
        float: right;
    }
    .day{ height: 50%;}
    #container{overflow: hidden;}
    #center{
        background-image: url(./icons/vecteezy_grid-globe-map_1198029.png);
        background-size: 36%;
        background-repeat: no-repeat;
        background-position:center;
    }
    .info{ height:32vh;}
}