@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;800&display=swap');

*{
  font-family : 'Poppins', sans-serif
}

.content {
  position: relative;
  background-color: black;
  height: 95vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.content video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-44%);
}

.content .container {
  position: relative;
  z-index: 2;
}

.content .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.input_style_sm{
  width: 100%;
  display: inline-block;
  font-size: 1em;
  background: #fff;
  border: 0px;
  padding: 4px 12px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;

  color: rgb(59, 59, 59);
  letter-spacing: 2px;
  transition: 0.2s;
  text-align: center;
  border-radius: 5px;
}

.input_style{
  width: 100%;
  max-width: 250px;
  display: inline-block;
  font-size: 1em;
  background: #fff;
  border: 0px;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 1px;
  transition: 0.2s;
  text-align: center;
  border-radius: 5px;
}
.input_style:hover{
  letter-spacing: 3px;
}

.button:hover{
  cursor:pointer;
}


img {
  width: 10px;
  max-width: 10px;
}


@media (pointer: coarse) and (hover: none) {
  .content video {
    display: none;
  }
}