
<!DOCTYPE html>
<html>
		<head>
			<link href="../libraries/bootstrap.min.css" rel="stylesheet" >
			<BASE href="/">
		</head>
		<body>
			
		<p>user: <%=username%>.</p>
		<div class="container">
			<h1 class="text-center mt-3 mb-3">Trip Planner</h1>
			<div class="card">
				<div class="card-header">Start Plannning !</div>
				<div class="card-body">
					<form method="POST" action="./">
						<div class="mb-3">
							<label>Data inizio Viaggio</label>
							<input type="date" name="inizio_viaggio" id="inizio_viaggio" class="form-control" />
						</div>
						<div class="mb-3">
							<label>Data fine viaggio</label>
							<input type="date" name="fine_viaggio" id="fine_viaggio" class="form-control" />
						</div>
						<div class="mb-3">
		                	<label>Località da visitare</label>
		                	<input type="text" name="localita" id="localita" class="form-control" />
		                </div>
		                <div class="mb-3">
		                	<input type="submit" name="submit_button" class="btn btn-primary" value="Add" />
		                </div>
					</form>
				</div>
			</div>
		</div>
	</body>

</html>