<!-- La homepage di trip planner.-->
<!-- La pagina è generata dinamicamente utilizzando ejs.-->
<!-- in particolare il server genera due pagine html diverse in base all'autenticazione dell'utente.-->
<!-- inoltre, se l'utente ha eseguito l'accesso, vengono riportati username e email nel menu della barra di navigazione-->
<!-- La validazione delle form di registrazione e accesso sono gestite dallo script home.js -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Trip Planner | Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../libraries/bootstrap.min.css" rel="stylesheet">
        <script src="../libraries/bootstrap.min.js"></script>
        <script src="../libraries/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/285899448d.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../styles/style_home.css">
        <%if(authenticated){%>
        <script>
            const base_url = window.location.href
            
            $(window).on('load', function() {
                $("#logout_button").click(function(){
                    $.post(base_url + "logout",()=>{ document.location.reload(true);})
                })
            });
        </script>
        <%}else{%>
        <script src="../js/home.js"></script>
        <%}%>
    </head>
    <body>
        
        <nav class="navbar navbar-expand fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand px-5 text-white" href="">Trip-Planner</a>
                <%if(authenticated){%>
                <ul class="navbar-nav px-5">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white px-5" href="" role="button" data-bs-toggle="dropdown"> <%=username%></a>
                        <ul class="dropdown-menu mt-2" style="background-color: rgb(50, 50, 50, 0.3);">
                            <li>
                                <div class="dropdown-item card bg-dark text-white">
                                    <div class="card-header">
                                        <h4 class="card-title"><%=username%></h4>
                                        <p class="card-text"><%=email%></p>
                                    </div>
                                    <div class="card-body d-grid gap-3">
                                        <button type="button" class="btn btn-primary input_style_sm btn-block">Settings</button>
                                        <button type="button" id="logout_button" class="btn btn-danger input_style_sm btn-block">Log out</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <%}else{%>
                <div class="mx-5">
                    <ul class="navbar-nav gap-2">
                        <li class="nav-item">
                            <button id="login_button_sm" class="input_style_sm btn btn-primary">Log in</button>
                        </li>
                        <li class="nav-item">
                            <button id="register_button_sm" class="input_style_sm btn btn-primary">Sign up</button>
                        </li>
                    </ul>
                </div>
                <%}%>
            </div>
        </nav>
        
        <div class="content">

            <div class="overlay"></div>
          
            <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
              <source src="../media/video.mp4" type="video/mp4">
            </video>
                    
            <%if(authenticated){%>
            <div class="container h-100">
                <div class="d-flex h-100 text-center align-items-center">
                  <div class="w-100 text-white">
                      <h1 class="display-1">Trip Planner</h1>
                      <p class="lead mb-0"><code class="text-white">create</code>, <code class="text-white">save</code> <small>and</small> <code class="text-white">share</code> itineraries.</p>
                      <a href="../form" class="mt-4 btn btn-primary input_style text-uppercase">start</a>
                  </div>
                </div>
            </div>
            <%}else{%>
            <div class="container h-100 justify-content-center ">
                <div class="h-100 row align-items-center">
                    <div class="col-sm-6 d-flex justify-content-center">
                        <div>
    
                            <form action="" method="POST" id="login_form" class="needs-validation" novalidate>
                                <div id="username_validation">
                                    <input class="form-control input_style" type="text" id="login_username" name="username" placeholder="username" required />
                                    <div class="invalid-feedback" id="login_username_f">Type a username.</div>
                                </div>
                                <div id="password_validation">
                                    <input class="form-control input_style" type="password" id="login_password" name="password" placeholder="password" required>
                                    <div class="invalid-feedback" id="login_password_f">Type a password.</div>
                                </div>
    
                                <input class="input_style button btn btn-primary" type="submit" value="login">                
                            </form>
    
                            <form action="" method="POST" id="register_form" class="needs-validation" novalidate style="display:none;">
                                <div>
                                    <input class="form-control input_style" type="text" id="register_username" name="username" placeholder="username" required />
                                    <div class="invalid-feedback" id="register_username_f">Type a username.</div>
                                </div>
                                <div >
                                    <input class="form-control input_style" type="email" id="register_email" name="email" placeholder="email" required>
                                    <div class="invalid-feedback" id="register_email_f">Type a valid email.</div>
                                </div>
                                <div >
                                    <input class="form-control input_style" type="password" id="register_password_1" name="password" placeholder="password" required>
                                    <div class="invalid-feedback" id="register_password_1_f">Type a password.</div>
                                </div>
                                <div>
                                    <input class="form-control input_style" type="password" id="register_password_2" name="confirm_password" placeholder="verify password" required>
                                    <div class="invalid-feedback" id="register_password_2_f">Passwords are not the same.</div>
                                </div>
    
                                <input class="input_style button input_style btn btn-primary" type="submit" value="register">     
                            </form>
    
                            <p class="text-white text-center mt-2">or</p>
                            <a id="register_button" class="input_style button btn btn-primary mt-0" >Register</a>
                            <div class="google_login" style ="margin-top: 10px;   " >
                                <a  href = '../OAuth' id="register_button_g" class="input_style button btn btn-secondary mt-0" style=" font-size:medium; padding-left: 5%; padding-right: 10%; "   >
                                    
                                    <div style="float: left; margin-left :0%;  background-image: url('/media/Google_icon.png');background-size: 100% 100%; height: 25px;width: 25px; object-fit: contain; vertical-align: middle;"></div>
                                    
                                    <div class = "Gsign" style=" vertical-align: middle;">Sign in with Google</div>
                                </a>
                            </div>
                            <a id="login_button" class="input_style button btn btn-primary"  style="display:none;">Login</a>
    
                        </div>
                    </div>
                    <div class="col-sm-6 d-flex justify-content-center">
                        <div class="text-white text-center">
                            <h1 class="display-1">Trip Planner</h1>
                            <p class="lead mb-0"><code class="text-white">create</code>, <code class="text-white">save</code> <small>and</small> <code class="text-white">share</code> itineraries.</p>
                        </div>
                    </div>
                </div>
            </div> 
            <%}%> 
        </div>

        <section class="bg-dark">
            <div class="container ">
                <div class="row align-items-center">
                    <div class="col text-center">
                        <i class="fa-solid fa-angle-down" style="color:white"></i>
                    </div>
                </div> 
                <div class="row align-items-center py-5">
                    <div class="col text-center text-white">
                        <p>Progetto realizzato per i corsi di Linguaggi e Tecnologie per il Web e Reti di Calcolatori.</p>
                        <p>-  Alessandro Ricci  -  Claudio Chini  -  Simone Tablo' -</p>
                    </div>
                </div> 
            </div>
        </section>

    </body>
</html>