html, body{
    width: 100%;
    height: 100%;
}

#container{
    width: 100%;
    height: 93.4%;
}

#left {
    background-color: rgb(156, 195, 253);
    width: 100%;
    height: 50%;
    float: left;
    position: relative;
}

#center {
    background-color: rgb(241, 217, 150);
    width: 100%;
    height: 50%;
    float: left;
    overflow:auto;
}

#right {
    width: 100%;
    height: 50%;
    float:left;
}

#map {
    display: block;
    width: 100%;
    height: 100%;
    position:relative;
}

#buttons{
    text-align: center;
    margin:5px;
}

#days{
    position: absolute;
    height: 92%;
    width: 100%;
    overflow: auto;
    bottom:0;
}

.day{
    height: 50%;
    overflow: auto;
    border:solid 1px;
    border-radius:10px;
    margin: 5px;
    background-color: rgb(253, 189, 237);
    padding: 4px;
}
.day>date{
    font-size: 80%;
}

.forecast{
    height:20%;
    position:absolute;
    margin-right:85%;
    font-size:70%;
}


#commands{
    height: 8%;
    position: absolute;
    background-color: brown;
    text-align: center;
}

#send{
    height: 100%;
    position: absolute;
}

#add{
    position: relative;
}

.info{
    margin:10px;
    border:solid 1px;
    border-radius:10px;
    margin: 5px;
    background-color: rgb(147, 238, 188);
    padding: 8px;
}
.info>img{
    max-height: 40%;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.poi{
    margin-left: 15%;
    border:solid 1px;
    border-radius:5px;
    background-color: aquamarine;
}

.toSend{
    border:solid 1px;
    border-radius:5px;
}

.remove{
    width: 24px;
    height: 24px;
    background-image: url(./icons/x-square-fill.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
}

.clone{
    width: 24px;
    height: 24px;
    background-image: url(./icons/plus-square-fill.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
}

.show{
    width: 24px;
    height: 24px;
    background-image: url(./icons/eye-fill.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    float: right;
}

.infobtn{
    width: 24px;
    height: 24px;
    background-image: url(./icons/info-square-fill.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
}

@media only screen and (min-width:1600px){
    #left, #center, #right{
        width: 33.33%;
        height: 100%;
        float: right;
    }
    .day{ height: 25%;}
    #commands{ height: 4%;}
    #days{ height: 96%;}
}

@media only screen and (min-width:800px) and (max-width:1599px) {
    #left, #center {
        width: 50%;
        height: 50%;
        float: left;
    }
    #right{
        width: 100%;
        height: 50%;
        float: right;
    }
    .day{ height: 50%;}
}