html, body{
    width: 100%;
    height: 100%;
}

#container{
    width: 100%;
    height: 94%;
}

#left {
    background-color: rgb(156, 195, 253);
    width: 100%;
    height: 50%;
    float: left;
}

#center {
    background-color: rgb(241, 217, 150);
    width: 100%;
    height: 50%;
    float: left;
    overflow:auto;
}

#right {
    width: 100%;
    height: 50%;
    float:left;
}

#map {
    display: block;
    width: 100%;
    height: 100%;
    position:relative;
}

#buttons{
    text-align: center;
    margin:5px;
}

#days{
    height: 95%;
    overflow: auto;
    background-color: rgb(253, 189, 237);
}
.day{
    height: 25%;
    overflow: auto;
    border:solid 1px;
    border-radius:10px;
    margin: 5px;
    
}
.day>date{
    font-size: 80%;
}

#send{
    height: 4%;
}

.info{
    margin:10px;
}
.info>img{
    max-height: 40%;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.poi{
    border:solid 1px;
    border-radius:5px;
    background-color: aquamarine;
}

.toSend{
    border:solid 1px;
    border-radius:5px;
}

.remove{
    width: 24px;
    height: 24px;
    background-image: url(./icons/x-square-fill.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    padding-right: 10px;
}

@media only screen and (min-width:1600px){
    #left, #center, #right{
        width: 33.33%;
        height: 100%;
        float: right;
    }
}

@media only screen and (min-width:800px) and (max-width:1599px) {
    #left, #center {
        width: 50%;
        height: 50%;
        float: left;
    }
    #right{
        width: 100%;
        height: 50%;
        float: right;
    }
}